
//<style>
//@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
//</style>

@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap')

div
  ul.nav
    margin: 0
    padding: 0
    list-style: none



  li
    margin-right: 150px



  a
     color: red
