<div class="row my-3 col-sm-12 container-fluid">
<!--<div class="col-md-2 p-2 container-fluid bg-white rounded-top">
<button  class="btn btn-block  btn-outline-primary" (click)="changeCategory()">
 Home
</button>

<button *ngFor="let cat of categories" class="btn btn-outline-primary btn-block"
      [class.active]="cat==selectedCategory" (click)="changeCategory(cat)">
{{cat}}
</button>

<button class="btn btn-block btn-danger mt-3" routerLink="/admin">
Admin
</button>


</div>-->

<div class="col-md-10 px-0 mx-0 container-fluid bg-white rounded-top shadow-sm">
  <div class="col-sm-12 container-fluid rounded-top d-flex flex-column category_header">
   <div class="mx-2 d-flex flex-row justify-content-between">
    <!-- <div class="mx-2 d-flex flex-column">
      <h5 class="category_header_title">Category</h5>
      <h6 class="category_header_subtitle">{{selectedCategory}}</h6>
     </div>-->
      <div class="d-flex flex-column">
        <h5 class="category_header_title">{{product.name}}</h5>
        <h6 class="text-muted">{{product.category}}</h6>
      </div>
       <h6 class="category_header_title">Ksh {{product.price}}</h6>
   </div>
  </div>

  <hr class="header_divider">
<div class="col-sm-12 py-3 d-flex flex-column">
 <div class="row">
  <div class="col-md-6 col-xs-12" [ngStyle]="setProductContainerStyle(product.photo)"></div>
  <div class="container-fluid m-0 p-0 product_details_card col-md-4 col-xs-12 d-flex flex-row">
   <div class="container-fluid col-sm-12 m-0 p-0 d-flex flex-column">

     <div class="container-fluid d-flex flex-column">
       <h6 class="text-muted">Item: {{product.name}}</h6>
       <h6 class="text-muted">Category: {{product.category}}</h6>
       <h6 class="text-muted">Price: Ksh{{product.price}}</h6>
       <!--<h6>{{product.color[0].name}}</h6>-->
     </div>
      <hr class="header_divider"/>

     <div class="container-fluid m-0 p-0 d-flex flex-column">
      <h6 class="text-muted">Colors</h6>

     <div class="m-2 container-fluid align-items-center justify-content-center">
      <div *ngFor="let color of getcolors" class="col-md-3 col-3 d-md-inline-block
        d-inline-block m-1">
        <button   class="color_container btn rounded-circle m-2 d-md-inline-block"
               [ngStyle]="setContainerColor(color.name)">

        </button>

        <h6 class="color_name">{{color.name}}</h6>
      </div>
      </div>

     </div>

     <div class="container-fluid m-0 p-0 d-flex flex-column">
       <h6 class="text-muted">Sizes</h6>

      <div class="container-fluid">
        <div *ngFor="let size of getSizes" class="m-2 d-inline m-1">
             <button class="sizes_container btn  m-2" (click)="setSize(size)" [class.active]="selected_size==size">
               {{size.name}}
             </button>
        </div>
      </div>


     </div>

     <div class="container-fluid m-0 p-0 d-flex flex-column">
      <button class="btn btn-block fixed-sticky cart-button">Add to Cart</button>
     </div>


   </div>


  </div>
 </div>
</div>





</div>

<!--<div class="col-md-2 mx-0">
<checkout></checkout>
</div>-->
</div>
